/* COMMON STYLES */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	margin: 0;
	padding: 0
}

:root {
	--index: calc(1vh + 1vw);
	--white: #fff;
	--gray: #f1f1f1;
	--teal: #FCFAEE;
	--light-brown: #ECDFCC;
	--green: #A5B68D;
	--orange: #DA8359;
	--box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
	--transition: all .2s ease-in;
	--radius-small: 12px;
	--radius-wide: 36px;
	--opacity: 0.5;
}

html,
body {
	height: 100%;
	line-height: 1.2;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: var(--white);
}

h1 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;
}

span {
	font-weight: bold;
}


li {
	margin-left: 3ch;
	list-style-type: '\21A6';
	padding-inline-start: 1ch;
}

li span {
	color: var(--orange);
}

.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* NAVIGATION BAR STYLES */

header {
	background-color: var(--teal);
	margin: 20px auto;
	padding: 0 20px;
	height: 66px;
	border-radius: var(--radius-wide);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}


#nav-buttons {
	display: flex;
	justify-content: space-between;
	width: 320px;
}

.support-btn {
	font-size: 16px;
	vertical-align: middle;
	align-items: center;
	padding: 10px 55px;
	text-align: center;
	border-radius: var(--radius-wide);
	border-color: transparent;
	background-color: var(--light-brown);
}

/* CONTENT BLOCKS STYLES */

/* TEMPORARY BLOCK, REMOVE IT WITH IMAGES WHEN YOU GET THEM */
.img-temp {
	background-color: #333;
	width: 300px;
	height: 300px;
	border-radius: var(--radius-small);
}

.block {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.greed {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.card {
	padding: 20px;
	background-color: var(--teal);
	border-radius: var(--radius-small);
}

/* MAIN BLOCK STYLES */

#main {
	margin-bottom: 20px;
}

#main h2 {
	color: var(--orange);
}

#main .card {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 20px;
	border-radius: var(--radius-small);
}

#main img {
	width: 50%;
	border-radius: var(--radius-small)
}

#main .card p {
	font-size: 18px;
	margin: 10px 0 60px 0;
}

.buy-btns {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	width: 500px;
}

.buy-btn {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	background-color: var(--orange);
	color: var(--white);
	border-radius: var(--radius-wide);
	padding: 22px 0;
	width: 400px;
	margin: 10px 0;
}

/* GALLERY BLOCK STYLES */

.gallery {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.gallery img {
	max-width: 24%;
	border-radius: var(--radius-small)
}

#gallery-down {
	display: none;
}

/* FOR WHOM BLOCK STYLES */

#for-whom .card {
	padding: 50px 25px;
	margin-left: 20px;
	border-radius: var(--radius-small);
}

#for-whom .card li {
	font-size: 18px;
	margin-top: 30px;
}

#for-whom img {
	max-width: 50%;
}

/* AUTHOR BLOCK STYLES */

.circle {
	border: 8px outset var(--teal);
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

#author {
	flex-direction: column;
}

#author h2 {
	text-align: center;
	margin-bottom: 30px;
}

#author div {
	margin: 10px;
}

#about {
	display: flex;
	justify-content: center;
	align-items: center;
}

#about .card {
	padding: 80px 40px;
	max-width: 600px;
	border-radius: var(--radius-small) 120px var(--radius-small) 80px;
}

#about .card:first-child p {
	margin-bottom: 20px;
}

/* INSTRUCTION BLOCK STYLES */

#instruction {
	flex-direction: column;
}

#instruction h3 {
	margin-bottom: 25px;
}

#instruction .greed .card {
	padding: 25px 30px;
}

#instruction h2 {
	text-align: center;
	margin-bottom: 40px;
}

.card-holder {}

/* SUPPORT BLOCK STYLES */

#support {
	align-items: center;
	justify-content: space-around;
	padding: 0 240px;
}

#support .support-btn {
	padding: 15px 65px;
}

#support p::after {
	margin-left: 2ch;
	content: '\27F6';
}

/* QA BLOCK STYLES */

#qa {
	background-color: var(--gray);
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
}

.dropwdown {
	background-color: var(--white);
	display: block;
	margin-bottom: 2px;
	padding: 25px 30px;
}

.dropdown-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 800px;

	text-align: left;
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	cursor: pointer;

	font-size: 18px;
	font-weight: 600;
	line-height: 1.23;
	background-color: rgba(0, 0, 0, 0);
	transition: var(--transition);
}

.cross {
	color: rgba(0.1, 0.1, 0.1, 0.5);
	font-size: 50px;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: var(--transition);
}

.cross-active {
	transform: rotate(-45deg);
}

.dropdown-content {
	display: flex;
	overflow: hidden;
	height: 0px;
	justify-content: start;
	transition: var(--transition);
}

.dropdown-content p a {
	font-weight: 600;
}

.active {
	height: 40px;
	padding: 30px 0 0 0;
}

/* DOCS BLOCK STYLES */

#docs {
	height: 70px;
	display: flex;
	justify-content: space-around;
	padding: 0 440px;
}

#docs a {
	color: var(--orange);
}

/* FOOTER STYLES */

footer {
	bottom: -1px;
	width: 100%;
	background: #333;
	color: #fff;
	text-align: center;
	padding: 90px 0;
}

/* OFERTA AND POLITICS STYLES */

#oferta,
#politics {
	padding: 0 5px;
}

#oferta p {
	margin: 20px 0;
}

#politics p {
	margin: 5px 0;
}

#politics {
	font-size: 14px;
	line-height: 26px;
}

#oferta a,
#politics a {
	color: var(--orange);
}

/* MODAL WINDOW STYLES */

.modal-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0);
	opacity: 0;
	transition: var(--transition);
}

.open {
	z-index: 1;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	background-color: #fefefe;
	padding: 40px 35px;
	border: 1px solid #888;
	border-radius: var(--radius-small);
	width: 500px;
	height: 700px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 50px;
	font-weight: 300;
}

.modal h3 {
	margin-bottom: 50px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* PAYMENT FORM STYLES */
form {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center */
}


form input {
	font-size: 16px;
	width: 90%;
	border: 1px solid black;
	padding: 15px;
	outline: none;
	background: transparent;
}

form button {
	padding: 16px 85px;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: var(--white);
	background-color: black;
	text-decoration: none;
	transition: var(--transition);
}

form button:hover {
	background-color: rgb(49, 49, 49);
}

.form-element {
	margin: 12px 0
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#total {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 60px;
}

.small-text {
	font-size: 16px;
}

.small-text span {
	font-weight: 700;
}