<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="yandex-verification" content="77b8c639d550cb95" />
	<meta name="google-site-verification" content="A8PWT-NmeT-2_J7pJ0cOXryqVkk6KWkHcbN4h-xCvx0" />
	<title>Рецепты от Laffykids</title>
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../static/adaptive.css">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date();
			for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
			k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(98622676, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true
		});
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/98622676" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->
</head>

<body>
	<div id="payment-form" class="modal-overlay">
		<div class="modal" id="payment-modal">
			<a class="close">&times;</a>
			<h3>Ваш заказ</h3>
			<div class="price">
				<p>1 шт.</p>
				<p>Сборник рецептов: <s>449</s> 349 руб.</p>
			</div>
			<form action="" method="post">
				<div class="form-element">
					<input type="text" placeholder="Ваше имя" name="name" required>
				</div>
				<div class="form-element">
					<input type="email" placeholder="Ваша почта" name="email" required>
				</div>
				<div class="form-element">
					<input type="text" placeholder="Ваш номер телефона" name="phone" pattern="^[+]?\s?(\d\s?){10, 18}$"
						required>
				</div>
				<div class="form-element" id="total">
					<p>К оплате: 349 руб.</p>
				</div>
				<div class="form-element">
					<button type="submit">Оплатить</button>
				</div>
			</form>
			<div class="small-text">
				<p> <span>*</span> Внимательно заполняйте данные перед оплатой, на них будет
					отправлено письмо со сборником. <br>
					При оплате не
					из РФ доступны платежные системы МИР, Белкарт, АПРА, Корти Милли, Express Pay. Для альтернативной оплаты
					нажмите на кнопку "Купить не из
					России"</p>
			</div>
		</div>
	</div>

	<div class="container">
		<header>
			<a href="#">@laffy_kids</a>
			<div id="nav-buttons">
				<a href="#for-whom" class="nav">Для кого</a>
				<a href="#author" class="nav">Об авторе</a>
				<a href="#instruction" class="nav">Как получить</a>
			</div>
			<button class="support-btn" onclick="location.href='https://t.me/yuliya_tsez'">Поддержка</button>
		</header>

		<div class="block" id="main">
			<div class="card">
				<h1>Сборник рецептов</h1>
				<h2>Более 80 простых рецептов перекусов</h2>
				<p>Отлично подойдут на завтрак для всей семьи</p>
				<a href="javascript:void(0)" class="buy-btn" id="buy-russia">Приобрести за 349 рублей</a>
				<a href="https://app.lava.top/ru/products/02553c53-5a99-4187-bc1b-708d3583fdce" class="buy-btn"
					id="buy-from-abroad">Купить не из
					России</a>
			</div>
			<img class="img-main" src="../static/assets/imgs/compressed/sb-page2.jpg" id="img-main-2">
		</div>

		<div class="gallery" id="gallery-upper">
			<img src="../static/assets/imgs/compressed/1.png" alt="">
			<img src="../static/assets/imgs/compressed/2.png" alt="">
			<img src="../static/assets/imgs/compressed/3.png" alt="">
			<img src="../static/assets/imgs/compressed/4.png" alt="">
		</div>

		<div class="block" id="for-whom">
			<img src="../static/assets/imgs/sb-page1.png" alt="">
			<div class="card">
				<h2>Вам точно нужен этот сборник, если:</h2>
				<ul>
					<li>Вы хотите <span>разнообразить рацион</span> вашего ребенка</li>
					<li>Вы хотите <span>сэкономить время</span> на готовку</li>
					<li>Вы хотите <span>заменить покупки</span> бесполезных перекусов на вкусные и полезные</li>
				</ul>
			</div>
		</div>

		<div class="gallery" id="gallery-down">
			<img src="../static/assets/imgs/compressed/1.png" alt="">
			<img src="../static/assets/imgs/compressed/2.png" alt="">
			<img src="../static/assets/imgs/compressed/3.png" alt="">
			<img src="../static/assets/imgs/compressed/4.png" alt="">
		</div>


		<div class="block" id="author">
			<h2>Автор сборника</h2>
			<div id="about">
				<div class="card">
					<p>Я, автор блога <span>@laffy_kids</span> и мама Софии, не по-наслышке знаю, сколько времени уходит на
						готовку.</p>
					<p>С помощью этого сборника вам не придется ломать голову над вопросами, что вкусного и полезного
						приготовить ребенку.</p>
				</div>
				<img src="../static/assets/imgs/author.png" alt="" class="circle">
			</div>
		</div>

		<div class="block" id="instruction">
			<h2>Как получить материал ?</h2>
			<div class="greed">
				<div class="card">
					<h3>Нажать кнопку “Приобрести”</h3>
					<p>После нажатия на кнопку вы попадете в платежную систему</p>
				</div>
				<div class="card">
					<h3>Внимательно ввести данные</h3>
					<p>На указанные данные будет отправлен доступ</p>
				</div>
				<div class="card">
					<h3>Подождать 5 мин и проверить почту</h3>
					<p>Обязательно проверьте спам и промо-акции, часто письмо попадает именно туда</p>
				</div>
				<div class="card">
					<h3>Открыть материал из письма</h3>
					<p>Сохраните письмо со сборником. Оно приходит только один раз</p>
				</div>
			</div>

		</div>

		<div class="block" id="support">
			<p>Если у вас возникли сложности, напишите в поддержку</p>
			<button class="support-btn" onclick="location.href='https://t.me/yuliya_tsez'">Поддержка</button>
		</div>
	</div>
	</div>

	<div class="block" id="qa">
		<div class="dropwdown unselectable">
			<button class="dropdown-btn" id="dropdown-btn-1">
				<span>В каком формате я получу сборник?</span>
				<span class="cross">+</span>
			</button>
			<div class="dropdown-content" id="dropdown-content-1">
				<p>Материал предоставляется в формате PDF</p>
			</div>
		</div>
		<div class="dropwdown unselectable">
			<button class="dropdown-btn" id="dropdown-btn-2">
				<p>Я потерял(а) доступ, что делать?</p>
				<span class="cross">+</span>
			</button>
			<div class="dropdown-content" id="dropdown-content-2">
				<p>Напишите об этом в поддержку</p>
			</div>
		</div>
		<div class="dropwdown unselectable">
			<button class="dropdown-btn" id="dropdown-btn-3">
				<p>Как долго я могу пользоваться материалами?</p>
				<span class="cross">+</span>
			</button>
			<div class="dropdown-content" id="dropdown-content-3">
				<p>Доступ бессрочный!</p>
			</div>
		</div>
		<div class="dropwdown unselectable">
			<button class="dropdown-btn" id="dropdown-btn-4">
				<p>Могу ли я купить сборник из-за рубежа?</p>
				<span class="cross">+</span>
			</button>
			<div class="dropdown-content" id="dropdown-content-4">
				<p>При оплате не из РФ нажмите на кнопку <a href="#buy-from-abroad">"Купить не из России"</a>
				</p>
			</div>
		</div>
	</div>

	<div id="docs">
		<a href="{{ url_for('main.oferta') }}" id="oferta">Оферта</a>
		<a href="{{ url_for('main.politics') }}" id="cp">Политика конфиденциальности</a>
	</div>

	<footer>
		<p>&copy; Laffy_kids, 2024</p>
	</footer>

	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script>
		$(document).ready(() => { // анимация прокрутки, удаление якоря из адресной строки
			$("a[href*='#']").on("click", function (e) {
				let anchor = $(this);
				$('html, body').stop().animate({
					scrollTop: $(anchor.attr('href')).offset().top
				}, 777);
				e.preventDefault();
				return false;
			});
		});

		$('.dropdown-btn').on("click", function () {
			let id = $(this).attr('id').slice(-1);
			$(`#dropdown-content-${id}`).toggleClass('active')
			$(`#dropdown-btn-${id}`).find('.cross').toggleClass('cross-active')
		})

		$('#buy-russia').on("click", function () {
			$('#payment-form').addClass('open')
			$('body').css('overflow', 'hidden')
		})

		$('.close').on('click', function () {
			$(this).parents('.modal-overlay').removeClass('open')
			$('body').css('overflow', 'auto')
		})

		$('#payment-form').on('click', function (e) {
			if ($(this).hasClass('open') && $(this).get(0) == e.target) {
				$(this).removeClass('open')
				$('body').css('overflow', 'auto')
			}
		})
	</script>
</body>

</html>