<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="google-site-verification" content="lzhamoPpfk0dIk0bN5mLIydoTmyjcKsmdPXCSJGRwzA" />
	<meta name="yandex-verification" content="d7d6c07a04358b27" />

	<title>Рецепты от Laffykids</title>
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../static/adaptive.css">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date();
			for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
			k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(98090498, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/98090498" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
</head>

<body>
	<div id="payment-widget"></div>

	<div id="payment-form" class="modal-overlay">
		<div class="modal" id="payment-modal">
			<a class="close">&times;</a>
			<h3>Ваш заказ</h3>
			<div class="price">
				<p>1 шт.</p>
				<p>Сборник рецептов 660 руб.</p>
			</div>
			<form action="" method="post">
				<div class="form-element">
					<input type="text" placeholder="Ваше имя" name="name" required>
				</div>
				<div class="form-element">
					<input type="email" placeholder="Ваша почта" name="email" required>
				</div>
				<div class="form-element">
					<input type="text" placeholder="Ваш номер телефона" name="phone" pattern="^[+]?(7|8)\d{10}$" required>
				</div>
				<div class="form-element" id="total">
					<p>К оплате: 660 руб.</p>
				</div>
				<div class="form-element">
					<button type="submit">Оплатить</button>
				</div>
			</form>
			<div class="small-text">
				<p>Внимательно заполняйте данные перед платой</p>
			</div>
		</div>
	</div>

	<div class="container">
		<header>
			<a href="#">@laffy_kids</a>
			<div id="nav-buttons">
				<a href="#for-whom" class="nav">Для кого</a>
				<a href="#" class="nav">Отзывы</a>
				<a href="#" class="nav">Сборник</a>
			</div>
			<div class="support-btn">
				<a href="https://t.me/yuliya_tsez" class="nav">Поддержка</a>
			</div>
		</header>

		<div class="block" id="main">
			<div class="card">
				<h1>Более 80 простых рецептов перекусов</h1>
				<p>отлично подойдут для завтраков для всей семьи</p>
				<div class="buy-btns">
					<a href="javascript:void(0)" class="buy-btn" id="buy-russia">ПРИОБРЕСТИ В РФ</a>
					<a href="javascript:void(0)" class="buy-btn" id="buy-alternative">ПРИОБРЕСТИ ИЗ-ЗА РУБЕЖА</a>
				</div>
			</div>
			<img class="img-main" src="../static/assets/imgs/sb-page2.jpg" id="img-main-2">
		</div>

		<div id="gallery">
			<img src="../static/assets/imgs/1.png" alt="">
			<img src="../static/assets/imgs/2.png" alt="">
			<img src="../static/assets/imgs/3.png" alt="">
			<img src="../static/assets/imgs/4.png" alt="">
		</div>

		<div class="block" id="for-whom">
			<img src="../static/assets/imgs/sb-page1.jpg" alt="">
			<div class="card">
				<h2>Вам точно нужен этот сборник, если:</h2>
				<ul>
					<li>Вы хотите разнообразить рацион вашего ребенка</li>
					<li>Вы хотите сэкономть время на готовку</li>
					<li>Вы хотите заменить покупки бесполезных перекусов на вкусные и полезные</li>
				</ul>
			</div>
		</div>


		<div class="block" id="author">
			<h2>Автор сборника</h2>
			<div id="about">
				<div class="card">
					<p>Я, автор блога <span>@laffy_kids</span> и мама Софии, не по-наслышке знаю, сколько времени уходит на
						готовку. С
						помощью
						этого сборника вам не придется ломать голову над вопросами,
						что вкусного и полезного приготовить ребенку.
					</p>
				</div>
				<img src="../static/assets/imgs/author.png" alt="" class="circle">
			</div>
		</div>

		<div class="block" id="instruction">
			<h2>Как получить материал</h2>
			<div class="greed">
				<div class="card">
					<h3>Нажать кнопку “Приобрести”</h3>
					<p>После нажатия на кнопку вы попадете в платежную систему</p>
				</div>
				<div class="card">
					<h3>Внимательно ввести данные</h3>
					<p>На указанные данные будет отправлен доступ</p>
				</div>
				<div class="card">
					<h3>Подождать 5 мин и проверить почту</h3>
					<p>Обязательно проверьте спам и промо-акции, часто письмо попадает именно туда</p>
				</div>
				<div class="card">
					<h3>Открыть материал из письма</h3>
					<p>Сохраните письмо с доступом. По этой ссылке будут доступны дальнейшие обновления</p>
				</div>
			</div>

		</div>

		<div class="block" id="support">
			<p>Если у вас возникли сложности, напишите в поддержку</p>
			<div class="support-btn">
				<a href="https://t.me/yuliya_tsez" class="nav">Поддержка</a>
			</div>
		</div>
	</div>
	</div>

	<div class="block" id="qa">
		<div class="dropwdown">
			<button class="dropdown-btn" id="dropdown-btn-1">
				<span>В каком формате я получу сборник?</span>
				<span class="cross">+</span>
			</button>
			<div class="dropdown-content" id="dropdown-content-1">
				<p>Материал предоставляется в формате PDF</p>
			</div>
		</div>
		<div class="dropwdown">
			<button class="dropdown-btn" id="dropdown-btn-2">
				<p>Я потерял(а) доступ, что делать?</p>
				<span class="cross">+</span>
			</button>
			<div class="dropdown-content" id="dropdown-content-2">
				<p>Напишите об этом в поддержку</p>
			</div>
		</div>
		<div class="dropwdown">
			<button class="dropdown-btn" id="dropdown-btn-3">
				<p>Как долго я могу пользоваться материалами?</p>
				<span class="cross">+</span>
			</button>
			<div class="dropdown-content" id="dropdown-content-3">
				<p>Доступ бессрочный!</p>
			</div>
		</div>
	</div>

	<div id="docs">
		<a href="{{ url_for('oferta') }}" id="oferta">Оферта</a>
		<a href="{{ url_for('politics') }}" id="cp">Политика конфиденциальности</a>
	</div>

	<footer>
		<p>&copy; Ulya Cesar</p>
	</footer>

	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script>
		$(document).ready(() => { // анимация прокрутки, удаление якоря из адресной строки
			$("a[href*='#']").on("click", function (e) {
				let anchor = $(this);
				$('html, body').stop().animate({
					scrollTop: $(anchor.attr('href')).offset().top
				}, 777);
				e.preventDefault();
				return false;
			});
		});

		$('.dropdown-btn').on("click", function () {
			let id = $(this).attr('id').slice(-1);
			$(`#dropdown-content-${id}`).toggleClass('active')
			$(`#dropdown-btn-${id}`).find('.cross').toggleClass('cross-active')
		})

		$('#buy-russia').on("click", function () {
			$('#payment-form').addClass('open')
			$('body').css('overflow', 'hidden')
		})

		$('.close').on('click', function () {
			$(this).parents('.modal-overlay').removeClass('open')
			$('body').css('overflow', 'auto')
		})

		$('#payment-form').on('click', function (e) {
			if ($(this).hasClass('open') && $(this).get(0) == e.target) {
				$(this).removeClass('open')
				$('body').css('overflow', 'auto')
			}
		})
	</script>
</body>

</html>