<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="../static/adaptive.css">
	<title>Публичная оферта</title>
</head>

<body>
	<div class="container" id="oferta">
		<p><span>Публичная оферта</span></p>
		<p>Настоящая публичная оферта является предложением оферента (Исполнителя)</p>
		<p>ИП Карева Полина Андреевна <br>
			Инн 682500713032 <br>
			89537034890 <br>
			<a href="mailto:polina.karevaa@mail.ru">polina.karevaa@mail.ru</a><br>
		</p>
		<p>неопределенному кругу лиц и регулирует отношения с ними.</p>
		<p>Договор на оказание услуг (оферта) считается
			заключенным (акцептованным) и приобретает силу с момента оплаты
			Заказчиком полной стоимости выбранной услуги. <br>
			Акцепт оферты (оплата услуги) означает безоговорочное принятие Заказчиком всех условий оферты без каких-либо
			изъятий или ограничений, на условиях присоединения. <br>
			В связи с вышеизложенным, внимательно прочитайте текст данного Договора и, если Вы не согласны с каким-либо
			пунктом Договора, Исполнитель предлагает Вам отказаться от каких-либо действий необходимых для акцепта или
			заключить персональный Договор на отдельно обсуждаемых с Исполнителем условиях.</p>

		<p><span>Общие положения</span></p>
		<p>
			Сайт предоставляет Заказчику возможность ознакомления с предложениями Исполнителя. <br>
			Вид, перечень, объем услуг, стоимость услуг, размер вознаграждения указываются на сайте Исполнителя. <br>
			Оплата осуществляется на сайте или с помощью гиперссылки, направленной Исполнителем Заказчику. <br>
			Доступ, направленный Исполнителем на неверно указанный Заказчиком электронный адрес, считается предоставленным.
			<br>
			Составление и подписание акта об оказанных услугах и передачи информационных материалов не предусмотрено.
		</p>

		<p><span>Предмет оферты</span></p>
		<p>Исполнитель оказывает Заказчику следующие виды услуг:</p>
		<ul>
			<li>услуги обучения на курсах – программа, срок, результат, формат проведения обучения и обратной связи
				прописываются для каждого курса и тарифа отдельно;</li>
			<li>консультационные услуги – предоставление информации онлайн в виде рекомендаций или разъяснений. Форма
				консультаций может быть групповой или индивидуальной;</li>
			<li>информационные материалы – текстовые материалы оформленные в виде сборников, книг, гайдов, а также
				видеозаписи обучения.</li>
		</ul>
		<p>Подробное описание каждой услуги, стоимость указываются на сайте Исполнителя https://laffukids.ru. В связи с
			проведением Исполнителем акций, стоимость услуг будет соответствовать стоимости, действующей на момент оплаты
			Заказчиком.</p>
		<p>Услуги считаются оказанными, если в течение 24-х часов после даты окончания курса, консультационных услуг или
			получения доступа к информационным материалам на электронную почту Исполнителя не поступила претензия к
			качеству оказанных услуг.</p>
		<p>Авторские права на услуги, информационные материалы на сайте https://laffukids.ru принадлежат Исполнителю.
			Заказчик, оплачивая услугу, приобретает право на личный просмотр и изучение материалов. Передача доступа
			третьим лицам, приобретение услуг в складчину не допускается.
			Заказчик несет ответственность за копирование и дальнейшее распространение информации, предоставляемой
			Исполнителем как целиком, так и любой ее части.</p>
		<p>Исполнитель вправе при обнаружении нарушений Заказчика:</p>
		<ul>
			<li>приостановить предоставление услуг,</li>
			<li>предъявить претензию,</li>
			<li>обратиться в суд для защиты своих прав</li>
			<li>взыскать с Заказчика убытки, компенсацию и штраф в размере 1 000 000,00 (Один миллион) рублей.</li>
		</ul>

		<p><span>Права и обязанности сторон</span></p>
		<p>Исполнитель обязуется:</p>
		<p>Не разглашать любую частную информацию Исполнителя и не предоставлять доступ к этой информации третьим лицам,
			за исключением случаев, предусмотренных Российским законодательством.</p>
		<p>Исполнитель оставляет за собой право изменять настоящий Договор в одностороннем порядке до момента его
			заключения.</p>
		<p>Заказчик обязуется:</p>
		<p>До момента заключения Договора ознакомиться с содержанием договора, условиями оплаты и предоставления доступа
			на сайте Исполнителя.</p>
		<p>Предоставлять достоверную информацию о себе (ФИО, контактные телефоны, адрес электронной почты, реквизиты)</p>

		<p><span>Ответственность сторон и разрешение споров</span></p>
		<p>Исполнитель не несет ответственности, если ожидания Заказчика о потребительских свойствах Услуги оказались не
			оправданны.</p>
		<p>Исполнитель не несет ответственности за частичное или полное неисполнение обязательств при наступлении
			форс-мажорных обстоятельств.</p>
		<p>Все споры и разногласия, возникающие при исполнении сторонами обязательств по настоящему Договору, решаются
			путем переговоров. В случае невозможности их устранения, стороны имеют право обратиться за судебной защитой
			своих интересов путем соблюдения претензионного порядка разрешения споров.</p>

		<p><span>Запрет на передачу данных третьим лицам</span></p>
		<p>Исполнитель прекращает выполнение услуги и закрывает доступ к курсу в том случае, если Заказчик передает свои
			данные для доступа к курсу третьим лицам.</p>
		<p>Факт захода на платформу курса с разных устройств и местоположений фиксируется через Тильду. IP устройства
			Заказчика фиксируется при покупке и регистрации в личном кабинете. Если возникает необходимость использования
			устройства с другим IP, Заказчик сообщает об этом по почте <a
				href="mailto:polina.karevaa@mail.ru">polina.karevaa@mail.ru</a></p>

		<p><span>Форс-мажорные обстоятельства</span></p>
		<p>Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору
			на время действия непреодолимой силы (форс-мажор).</p>
		<p>Под непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства,
			препятствующие исполнению своих обязательств сторонами по настоящему Договору. К ним относятся в частности
			стихийные явления (землетрясения, наводнения и т. п.), обстоятельства общественной жизни (военные действия,
			чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.), запретительные меры государственных органов
			(запрещение перевозок, валютные ограничения, международные санкции запрета на торговлю и т. п.).</p>
		<p>В течение этого времени стороны не имеют взаимных претензий, и каждая из сторон принимает на себя свой риск
			последствия форс-мажорных обстоятельств.</p>
	</div>
</body>

</html>